/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Root element */
:root{
  --clr-primary-200: hsl(225, 100%, 94%);
  --clr-primary-400: hsl(245, 75%, 52%);
  
  --clr-neutral-100: hsl(225,100%,98%);
  --clr-neutral-200: hsl(224,23%,55%);
  --clr-neutral-400: hsl(223, 47%, 23%);

  --fs-base: 16px;
  
  --fw-base: 500;
  --fw-bold: 700;
  --fw-ultrabold: 900;

  --ff-primary: 'Red Hat Display', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-200);
    font-family: var(--ff-primary);
    width: auto;
    height: 100vh;
}
.card{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 1rem;
    max-width: 500px;
    min-width: 325px;
}
.hero{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
}
.card__container{
    display: grid;
    place-content: center;
    text-align: center;
}
.card__container h1{
    font-size: 1.25rem;
    font-weight: var(--fw-ultrabold);
    color: var(--clr-neutral-400);
    padding: 1.5em 0;
}
.card__container p{
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
    color: var(--clr-neutral-200);
    margin-top: -1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}
.card__component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: var(--clr-neutral-100);
    padding: 1rem 0.5rem;
    border-radius: 1em;
    margin: 0.5em 1.5em;
}
.card__component-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.plans h2{
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-400);
}
.plans p{
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
    color: var(--clr-neutral-200);
}
.card__component-details img{
    color: var(--clr-neutral-200);
}
.card__link-button{
    color: var(--clr-primary-400);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    text-decoration: underline;
}
.card__link-button:hover,
.card__link-button:focus {
    color: hsl(245, 56%, 62%);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 1.5em;
}
.primary{
    background-color: var(--clr-primary-400);
    color: white;
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    padding: 0.9em 1em;
    border-radius: 0.75em;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 8px 20px hsla(254, 56%, 62%, 0.4);
}
.secondary{
    background-color: transparent;
    color: var(--clr-neutral-200);
    font-size: var(--fs-base);
    font-weight: var(--fw-bold);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    width: 100%;
}
.primary:hover{
    background-color: hsl(245, 56%, 62%);
    color: white;
}
.primary:focus{
    background-color: hsl(245, 56%, 62%);
    color: white;
}
@media screen and (min-width:600px){
    
    .card{
        margin: 3rem;
    }
    .card__component{
        gap: 10em;
    }
    
}